<section class="blog">
  <div class="container">
      <div class="blog-block">
          <div class="blog-content">
              <div class="date">April 16 2020</div>
              <h2>Blog Post One</h2>
              <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
                  deleniti?
              </p>
              <button class="button">Read Our Blog</button>
          </div>
          <div class="blog-image"></div>
      </div>
  </div>
</section>
