<section class="callback">
  <div class="callback-image">
    <img
      src="../img/img-for-call.jpg"
      alt="Man working at a desk"
      width="680"
      height="460"
    />
  </div>
  <div class="form-section">
    <h2>Request Callback</h2>
    <form class="form">
      <input class="input" type="text" placeholder="Enter your name" required />
      <input class="input" type="email" placeholder="Enter email*" required />
      <button class="buttom-form" type="submit">Send</button>
    </form>
  </div>
</section>
