<footer class="footer">
  <div class="container footer-container">
    <ul class="footer-list">
      <li>
        <svg class="footer-social-icon" width="35" height="35">
          <use href="../img/footer-icons.svg#icon-facebook-icon"></use>
        </svg>
      </li>
      <li>
        <svg class="footer-social-icon" width="35" height="35">
          <use href="../img/footer-icons.svg#icon-twitter-icon"></use>
        </svg>
      </li>
      <li>
        <svg class="footer-social-icon" width="40" height="35">
          <use href="../img/footer-icons.svg#icon-youtube-icon"></use>
        </svg>
      </li>
      <li>
        <svg class="footer-social-icon" width="31" height="35">
          <use href="../img/footer-icons.svg#icon-linkedink-icon"></use>
        </svg>
      </li>
    </ul>
    <p class="footer-text">Copyright © 2021 - FinanceLedger</p>
  </div>
</footer>
