<section class="solution">
  <div class="container">
    <img src="../img/solution_img_pc_1x.jpg" alt="" class="solution-img">
    <p class="sulution-p1">What you are looking for?</p>
    <h2 class="title-solution">We provide bespoke solutions</h2>
    <p class="sulution-p2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?</p>
    <button class="button-solution">Read More</button>
  </div>
</section>
